/* HEADER*/
.main-navbar{
    background-color: #FFA451;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding-right: 20px;
}
.main-navbar .navbar-toggler{
    background-color: #FFF;
    border: none;
}
.main-navbar .nav-link {
    background-color: #FFF;
    border-radius: 3px;
    text-align: center;
    margin: 5px 0;
    box-shadow: 2px 2px 2px rgba(42, 69, 136, 0.3);
}
.banner{
    object-fit: cover;
}
@media (min-width: 768px) {
    .btn-remove{
        display: none;
    }    
}

/* BANNER HOME - CARD HOME*/
.padbody {
    padding-top: 75px;
}
.bannerCont {
    margin-top: 25px;
    margin-bottom: 25px;
}

.banner-text h1{
            font-size: x-large;
    }

.banner-img{
    width: 100%;
    height: 100%;
    margin-left: -12px;
    }
@media (max-device-width:992px) {
    .banner-img-col{
        box-sizing: content-box;
    }
}    




.btn-inscrever{
border-color: #FFA451 !important;
background-color: #FFA451 !important;

}

.card{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .25);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* EVENTOS DETAIS */
.evento-detail {
    width: 100%;
}

.banner-pad {
    padding-top: 25px ;
}

@media (max-width: 768px) {
    .btn-event-remove{
        display: none;
    }    
}
/*FOOTER*/
.footer{
    background-color: #FFA451;
    color: #FFF;
    margin-top: 20px;
    padding: 5px 0;
}
html, body, #root{
    height: 100%;
}
#root{
    display: flex;
    flex-direction: column;
}
#root > main{
    flex: 1;
}